1) Sampling Distribution About p1-p2 \
2) HTesting for 2 Variables: F Test Statistic \
     &emsp; &emsp; F Test Example \
3) T1, T2 Error Mix
4) ANOVA

## 1) Sampling Distribution About p1-p2

In [17]:
import statsmodels.api as spm
from statsmodels.formula.api import ols
from matplotlib import pyplot as plt

In [18]:
import pandas as pd
import numpy as np
from scipy import stats
import scipy
import math
def two_samp_proportion(p1, p2, n1, n2):
    p_pool = ((p1*n1) + (p2*n2))/(n1 + n2)
    x = (p_pool * (1 - p_pool) * ((1/n1) + (1/n2)))
    s = math.sqrt(x)
    z = (p1 - p2)/s
    if(z < 0):
        p_val = stats.norm.cdf(z)
    else:
        p_val = 1 - stats.norm.cdf(z)
    return z, p_val*2

In [19]:
two_samp_proportion(0.27, 0.19, 100, 100)

(1.3442056254198995, 0.17888190308175567)

In [20]:
stats.norm.cdf(1.344)

0.9105258065485569

## 2) HTesting for 2 Variables: F Test Statistic

In [21]:
import pandas as pd
import numpy as np
import math
from scipy import stats
import scipy

In [22]:
#Lower limit
scipy.stats.f.ppf(q=1-.05, dfn = 15, dfd = 10)

2.8450165269958436

In [23]:
#Upper Limit
scipy.stats.f.ppf(q = 0.05, dfn = 15, dfd = 10)

0.3931252536255495

### F Test Example

In [24]:
X = [3, 4, 5, 23, 43, 54,33, 32]
Y = [34, 45, 43, 55, 34, 32, 2, 1]

In [25]:
F = np.var(X)/np.var(Y)
dfn = len(X) - 1
dfd = len(Y) - 1

In [26]:
p_value = scipy.stats.f.cdf(F, dfn, dfd)
p_value

0.4865737289509142

## 3) T1, T2 Error Mix

In [27]:
def samplesize(alfa, beta, mu1, mu2, sigma):
    z1 = -1*stats.norm.ppf(alfa)
    z2 = -1*stats.norm.ppf(beta)
    n = (((z1 + z2)**2) * (sigma**2))/((mu1 - mu2)**2)
    print(n)

In [28]:
samplesize(0.05, 0.1, 12, 12.75, 3.2)

155.900083325938

## 4) Analysis of Varience

#### Effect of Teahing Method
Black Board   Case Presentation   PPT <br>
     4                 2           2 <br>
     3                 4           1 <br> 
     2                 6           3

In [29]:
a = [4, 2, 2]
b = [2, 4, 6]
c = [2, 1, 3]
stats.f_oneway(a, b, c)

F_onewayResult(statistic=1.4736842105263157, pvalue=0.3015558721758599)

### New Method: Pandas.melt

In [30]:
df = pd.read_excel('oneway.xlsx')
df

   Black Board   Case Presentation    PPT
0             4                    2     2
1             3                    4     1
2             2                    6     3

In [38]:
df_new = pd.melt(df.reset_index(), id_vars = ['index'], value_vars = ['Black Board ', 'Case Presentation  ', 'PPT '])
df_new.columns = ['index', 'Treatments', 'value']
df_new

   index           Treatments  value
0      0         Black Board       4
1      1         Black Board       3
2      2         Black Board       2
3      0  Case Presentation        2
4      1  Case Presentation        4
5      2  Case Presentation        6
6      0                 PPT       2
7      1                 PPT       1
8      2                 PPT       3

In [41]:
model = ols('value ~ C(Treatments)', data = df_new).fit()
anova_table = spm.stats.anova_lm(model, typ = 1)
anova_table

                df  sum_sq  mean_sq    F    PR(>F)
C(Treatments)  2.0     6.0      3.0  1.5  0.296296
Residual       6.0    12.0      2.0  NaN       NaN