### ANOVA, Tensile Strength Example

In [1]:
import pandas as pd
import numpy as np
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
df = pd.read_excel('TensileStrengthOfPaper.xlsx')
df

,hardwood concentration 5%,hardwood concentration 10%,hardwood concentration 15%,hardwood concentration 20%
0,7,12,14,19
1,8,17,18,25
2,15,13,19,22
3,11,18,17,23
4,9,19,16,18
5,10,15,18,20

In [3]:
data_r1 = pd.melt(df.reset_index(), id_vars = ['index'], value_vars = ['hardwood concentration 5%', 'hardwood concentration 10%', 'hardwood concentration 15%', 'hardwood concentration 20%'])
data_r1.columns = ['index', 'treatments', 'value']

In [4]:
model = ols('value ~ C(treatments)', data = data_r1).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.746
Model:                            OLS   Adj. R-squared:                  0.708
Method:                 Least Squares   F-statistic:                     19.61
Date:                Fri, 25 Feb 2022   Prob (F-statistic):           3.59e-06
Time:                        13:24:04   Log-Likelihood:                -54.344
No. Observations:                  24   AIC:                             116.7
Df Residuals:                      20   BIC:                             121.4
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
Intercept                                      15.6667      1.041     15.042      0.000      13.494      17.839
C(treatments)[T.hardwood concentration 15%]     1.3333      1.473      0.905      0.376      -1.739       4.406
C(treatments)[T.hardwood concentration 20%]     5.5000      1.473      3.734      0.001       2.428       8.572
C(treatments)[T.hardwood concentration 5%]     -5.6667      1.473     -3.847      0.001      -8.739      -2.594
==============================================================================
Omnibus:                        0.929   Durbin-Watson:                   2.181
Prob(Omnibus):                  0.628   Jarque-Bera (JB):                0.861
Skew:                           0.248   Prob(JB):                        0.650
Kurtosis:                       2.215   Cond. No.                         4.79
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [5]:
aov_table = sm.stats.anova_lm(model, typ = 1)
aov_table

                 df      sum_sq     mean_sq          F    PR(>F)
C(treatments)   3.0  382.791667  127.597222  19.605207  0.000004
Residual       20.0  130.166667    6.508333        NaN       NaN

# Multiple Comparison Method, Post Hoc Analysis

In [6]:
import math
t = -1 * scipy.stats.t.ppf(0.025, 20)
n = 6
MSE = 6.50833
lsd = t * math.sqrt(2*MSE/n)
lsd

3.0724218802123273

### Tukey Kramer Test for PHA

In [7]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
mc = MultiComparison(data_r1['value'], data_r1['treatments'])
mcresult = mc.tukeyhsd(0.05)
mcresult.summary()

### Tukey Kramar Test New Example

In [8]:
df3 = pd.read_excel('cotton weight_tukey kramar.xlsx')
df3

   cotwt.15  cotwt.20  cotwt.25  cotwt.30  cotwt.35
0         7        12        14        19         7
1         7        17        18        25        10
2        15        12        18        22        11
3        11        18        19        19        15
4         9        18        19        23        11

In [9]:
data1 = pd.melt(df3.reset_index(), id_vars = ['index'], value_vars = ['cotwt.15', 'cotwt.20', 'cotwt.25', 'cotwt.30', 'cotwt.35'])
data1.columns = ['id', 'treatments', 'value']
data1

    id treatments  value
0    0   cotwt.15      7
1    1   cotwt.15      7
2    2   cotwt.15     15
3    3   cotwt.15     11
4    4   cotwt.15      9
5    0   cotwt.20     12
6    1   cotwt.20     17
7    2   cotwt.20     12
8    3   cotwt.20     18
9    4   cotwt.20     18
10   0   cotwt.25     14
11   1   cotwt.25     18
12   2   cotwt.25     18
13   3   cotwt.25     19
14   4   cotwt.25     19
15   0   cotwt.30     19
16   1   cotwt.30     25
17   2   cotwt.30     22
18   3   cotwt.30     19
19   4   cotwt.30     23
20   0   cotwt.35      7
21   1   cotwt.35     10
22   2   cotwt.35     11
23   3   cotwt.35     15
24   4   cotwt.35     11

In [10]:
mc = MultiComparison(data1['value'], data1['treatments'])
mcresults = mc.tukeyhsd(0.05)
mcresults.summary()

In [11]:
scipy.stats.f.ppf(1-0.01, dfn = 8, dfd = 29)

3.198218844688683